@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/jwt-decode.js"></script>
<div class="jumbotron">
    <h2>Simple MVC Client</h2>
    <p>This world is the evil place. I am the simple client trying to authenticate and get my data ... </p>
    <p>It used to be expensive to make things public and cheap to make them private. Now it’s expensive to make things private and cheap to make them public</p>
</div>
<div class="top-buffer"></div>
<div class="row">
    <!-- oAuth URL input-->
    <div class="form-group">
        <label class="col-md-3 control-label" for="name">Auth URL</label>
        <div class="col-md-9">
            <input id="oauthURL" type="text" placeholder="URL" class="form-control">
        </div>
    </div>
</div>
<div class="row top-buffer">
    <div class="form-group">
        <label class="col-md-3 control-label" for="name">Grant Type</label>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="granttype" value="0" />
                </span>
                <div class="form-control">
                    ClientCredentials
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" name="granttype" value="1" checked />
                </span>
                <div class="form-control">
                    Password
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row top-buffer">
    <div class="form-group">
        <div class="col-md-3">
            <button id="btntoken" type="button" class="btn btn-primary">Get Token</button>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <textarea id="tokenarea" class="form-control" type="textarea" id="message" placeholder="OAuth Token" maxlength="140" rows="7"></textarea>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <textarea id="tokendecodearea" class="form-control" type="textarea" id="message" placeholder="OAuth Token Decoded" maxlength="140" rows="7"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
       Use this token to get the data from the services
    </div>
</div>
<div class="row top-buffer">
    <!-- Service URL input-->
    <div class="form-group">
        <label class="col-md-3 control-label" for="name">Service URL</label>
        <div class="col-md-9">
            <input id="serviceURL" type="text" placeholder="URL" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <button id="btnservice" type="button" class="btn btn-primary">Get Data</button>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <textarea id="dataarea" class="form-control" type="textarea" id="message" placeholder="Service Data" maxlength="140" rows="7"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        If you reveal your secrets to the wind, you should not blame the wind for revealing them to the trees.
    </div>
</div>
<script>

    function btnTokenClick() {
        var oauthURL = $('#oauthURL').val();
        var grantTypeVal = $('input[name=granttype]:checked').val();
        $.ajax({
            url: '@Url.Action("GetOAuthToken")',
            method: 'POST',
            data: {
                url: oauthURL,
                granttype: grantTypeVal
            },
        })
        .done(function (data) {
            $('#tokenarea').val(data);
            var completeData = JSON.parse(data);
            var accessToken = completeData.access_token;
            var decodedoAuth = jwt_decode(accessToken);
            completeData.access_token = decodedoAuth;
            $('#tokendecodearea').val(JSON.stringify(completeData, null, 4));
            })
        .fail(function (jqXHR, textStatus, errorThrown) {
                $('#tokenarea').val(errorThrown);
            });
    }

    function btnGetData() {
        var serviceURL = $('#serviceURL').val();
        var oauthTokenStr = $('#tokenarea').val();
        var oauthToken = JSON.parse(oauthTokenStr).access_token;
        $.ajax({
            url: '@Url.Action("GetDataFromService")',
            method: 'GET',
            data: {
                url: serviceURL,
                token: oauthToken
            },
        })
        .done(function (data) {
                $('#dataarea').val(data);        
            })
        .fail(function (jqXHR, textStatus, errorThrown) {
                $('#dataarea').val(errorThrown);
            });
    }

    $(document).ready(function () {
        $('#btntoken').click(btnTokenClick);
        $('#btnservice').click(btnGetData);
        $('#oauthURL').val('http://10.4.1.232/kiwiservices/oauthservice')
        $("#serviceURL").val('http://localhost:5002/api/values')
    });


</script>