@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2>Simple MVC Client</h2>
    <p>This world is the evil place. I am the simple client trying to authenticate and get my data ... </p>
    <p>It used to be expensive to make things public and cheap to make them private. Now it’s expensive to make things private and cheap to make them public</p>
</div>
<div class="top-buffer"></div>
<div class="row">
    <!-- oAuth URL input-->
    <div class="form-group">
        <label class="col-md-3 control-label" for="name">Auth URL</label>
        <div class="col-md-9">
            <input id="oauthURL" type="text" placeholder="URL" class="form-control">
        </div>
    </div>
</div>
<div class="row top-buffer">
    <div class="form-group">
        <div class="col-md-3">
            <button id="btntoken" type="button" class="btn btn-primary">Get Token</button>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" placeholder="OAuth Token" maxlength="140" rows="7"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
       Use this token to get the data from the services
    </div>
</div>
<div class="row top-buffer">
    <div class="form-group">
        <div class="col-md-3">
            <button id="btnCallService" type="button" class="btn btn-primary">Get Data</button>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" placeholder="Service Data" maxlength="140" rows="7"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        If you reveal your secrets to the wind, you should not blame the wind for revealing them to the trees.
    </div>
</div>